body > header > h1 {
    text-align: center;
}

/* Hide the h1 in the outermost section. This will probably only even be present in IE. */
body > section > h1 {
    display: none;
}

section {
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
}

.spref section, .sdtsterm  section, .spdom section{
    display: inline-block;
}

.comment {
    font-style: italic;
    font-weight: bold;
}

.metainfo > section {
    border: none;
}

body > section {
    margin: 0;
    padding: 0;
}

.metadata {
    border: none;
}

section > h1, h2 {
    color: blue;
    font-size: 1em;
}

.cntinfo > h1 {
    display: inline;
}

.p-tel:before {
    content: '☎ ';
}

.p-tel-fax:before {
    content: '📠 ';
}

.u-email:before {
    content: '📧 ';
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.5em;
}

    table tr:nth-child(even) {
        background-color: lightgray;
    }

    table td {
        border: 1px inset gray;
        padding: 0.4em;
    }

        table td:empty:after {
            content: 'N/A';
            color: #e1d9d9;
        }

        table tr:nth-child(even) td:empty:after {
            content: 'N/A';
            color: gray;
        }

        table td:empty {
            font-style: italic;
            text-align: center;
            vertical-align: central;
        }

.spref {
    font-size: 8pt;
}

section:scope {
    background-color: red;
}

.cntinfo, .cntinfo section {
    border: none;
    margin: auto;
    /*padding: 0;*/
}

.distinfo section {
    border: none;
}

.country-usa .address, .country-usa .country,
.country-us .address, .country-us .country, .p-tel, .u-email {
    display: block;
}

.country-us .city:after, .country-usa .city:after{
    content: ', '
}

.country-us .postal:before, .country-usa .postal:before {
    content: '  '
}

.CI_Contact, .CI_Telephone, .CI_Address, .CI_ResponsibleParty, .CI_RoleCode, 
.MD_Distribution, .MD_Distributor, .MD_ScopeCode, .MD_VectorSpatialRepresentation, .MD_GeometricObjects, .MD_GeometricObjectTypeCode
.LanguageCode {
    border: none;
}

.Binary > a {
    display: list-item;
    list-style-position: inside;
}

progress[title=loading] {
    display: none;
}

.loading progress {
    display:block;
}

.loading form, .loaded form {
    display: none;
}

.error {
    background-color: #ffb0b0;
    color: red;
}