body > header > h1 {
    text-align: center;
}

/* Hide the h1 in the outermost section. This will probably only even be present in IE. */
body > section > h1 {
    display: none;
}

section {
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
}

.spref section, .sdtsterm  section, .spdom section{
    display: inline-block;
}

.metainfo > section {
    border: none;
}

body > section {
    margin: 0;
    padding: 0;
}

.metadata {
    border: none;
}

section > h1, h2 {
    color: blue;
    font-size: 1em;
}

.cntinfo > h1 {
    display: inline;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.5em;
}

    table tr:nth-child(even) {
        background-color: lightgray;
    }

    table td {
        border: 1px inset gray;
        padding: 0.4em;
    }

        table td:empty:after {
            content: 'N/A';
            color: #e1d9d9;
        }

        table tr:nth-child(even) td:empty:after {
            content: 'N/A';
            color: gray;
        }

        table td:empty {
            font-style: italic;
            text-align: center;
            vertical-align: central;
        }

.spref {
    font-size: 8pt;
}

section:scope {
    background-color: red;
}

.cntinfo, .cntinfo section {
    border: none;
    margin: auto;
    padding: 0;
}

.cntinfo h1 {
    display: none;
}

.distinfo section {
    border: none;
}

.country-us .address, .country-us .country, a.p-tel, a.u-email {
    display: block;
}

.country-us .city:after{
    content: ', '
}

.country-us .postal:before {
    content: '  '
}

.CI_Contact, .CI_Telephone, .CI_Address, .CI_ResponsibleParty, .CI_RoleCode, 
.MD_Distribution, .MD_Distributor, .MD_ScopeCode, .MD_VectorSpatialRepresentation, .MD_GeometricObjects, .MD_GeometricObjectTypeCode
.LanguageCode {
    border: none;
}